# Ignore Umbraco folders (Generated folders created by Umbraco).
ClientDependency/
TEMP/
Logs/
Cached/
ExamineIndexes/
bin/
obj/

# Ignore Umbraco content cache file.
umbraco.config

# User-specific files
*.suo
*.csproj.user

# Ignore NuGet files.
/UserGroupPermissions/packages/

# Visual Studio 2015 cache/options directory.
.vs/

# Ignore npm modules.
**/node_modules/

# Ignore grunt build temp files.
**/UserGroupPermissions/tmp/
**/UserGroupPermissions/dist/