.ugp-small-table-header {
    font-size: 9px !important;
}

/*
Ensure the checkbox is next to the top of the label (labels with descriptive text
can wrap across several lines).
*/
.ugp-dialog-toggle input[type=checkbox] {
    vertical-align: top;
}
.ugp-dialog-toggle label {
    max-width: calc(100% - 25px);
}