<div class="umb-dialog umb-pane" ng-controller="UGP.ApplyUserGroupPermissions">
    <div class="umb-dialog-body">
        <p class="umb-abstract" ng-if="showQuestion">
            Are you sure you want to apply group permissions for user {{selectedUserName}} to
            all nodes that have user group permissions specified?
        </p>
        <p class="umb-abstract" ng-if="showFailure">
            {{failureMessage}}
        </p>
        <p class="umb-abstract" ng-if="showSuccess">
            {{successMessage}}
        </p>
        <p class="umb-abstract" ng-if="showProgress">
            Processing request. Please wait.
        </p>
        <div ng-if="showConfirmButtons">
            <umb-confirm on-confirm="performApply" on-cancel="cancel">
            </umb-confirm>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="showDoneButton">
        <button class="btn" ng-click="closeDialog()">
            <localize key="defaultdialogs_closeThisWindow">Close this window</localize>
        </button>
    </div>
</div>