<div ng-controller="UGP.SetUserGroupPermissions">
    <div class="umb-dialog-body form-horizontal">
        <div class="umb-pane">
            <div ng-if="showSelection">
                <p class="umb-abstract">
                    Set user group permissions for the page "{{pageName}}".
                </p>
                <table class="table">
                    <tbody>
                    <tr>
                        <td></td>
                        <th ng-repeat="userType in userTypes">
                            {{userType.Label}}
                        </th>
                    </tr>
                    <tr ng-repeat="permission in permissions">
                        <td class="guiDialogTinyMark ugp-small-table-header">
                            {{permission.Label}}
                        </td>
                        <td ng-repeat="userType in permission.UserTypes">
                            <input type="checkbox" ng-model="userType.HasPermission"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ul style="list-style: none;">
                <li>
                    <input id="{{applyPermissionsId}}" type="checkbox" ng-model="userOptions.applyPermissions" style="float:left;" />
                    <label for="{{applyPermissionsId}}">Replace permissions on existing users?</label>
                </li>
                <li>
                    <input id="{{replaceChildNodePermissionsId}}" type="checkbox" ng-model="userOptions.replaceChildNodePermissions" style="float:left;" />
                    <label for="{{replaceChildNodePermissionsId}}">Replace child node permissions?</label>
                </li>
                <li>
                    <input id="{{ignoreBasePermissionsId}}" type="checkbox" ng-model="userOptions.ignoreBasePermissions" style="float:left;" />
                    <label for="{{ignoreBasePermissionsId}}">Ignore permissions set by base role?</label>
                </li>
            </ul>
            <p class="umb-abstract" ng-if="showFailure">
                {{failureMessage}}
            </p>
            <p class="umb-abstract" ng-if="showSuccess">
                {{successMessage}}
            </p>
            <p class="umb-abstract" ng-if="showProgress">
                {{processingMessage}}
            </p>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="showConfirmButtons">

        <a class="btn btn-link" ng-click="cancel">
            <localize key="general_cancel">Cancel</localize>
        </a>
        <button class="btn btn-primary" ng-click="updatePermissions">
            <localize key="actions_update">Update</localize>
        </button>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="showDoneButton">
        <button class="btn" ng-click="closeDialog()">
            <localize key="defaultdialogs_closeThisWindow">Close this window</localize>
        </button>
    </div>
</div>