<div class="umb-dialog umb-pane" ng-controller="UGP.SetUserGroupPermissions">
    <div class="umb-dialog-body">
        <div ng-if="showSelection">
            <p class="umb-abstract">
                Set user group permissions for the page "{{pageName}}".
            </p>
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                        <th ng-repeat="userType in userTypes">
                            {{userType.Label}}
                        </th>
                    </tr>
                    <tr ng-repeat="permission in permissions">
                        <td class="guiDialogTinyMark ugp-small-table-header">
                            {{permission.Label}}
                        </td>
                        <td ng-repeat="userType in permission.UserTypes">
                            <input type="checkbox" ng-model="userType.HasPermission" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ugp-dialog-toggle">
                <input id="{{applyPermissionsId}}" type="checkbox" ng-model="userOptions.applyPermissions" />
                <label for="{{applyPermissionsId}}">
                    Replace permissions on all existing users for this node?
                    <small>
                        If selected, permissions will be updated for all users to match your selection.<br />
                        If unselected, existing user permissions will remain unchanged.
                    </small>
                </label>
            </div>
            <div class="ugp-dialog-toggle">
                <input id="{{replaceChildNodePermissionsId}}" type="checkbox" ng-model="userOptions.replaceChildNodePermissions" />
                <label for="{{replaceChildNodePermissionsId}}">
                    Replace child node permissions?
                    <small>
                        If selected, all descendant nodes will use the same permissions you specify here.<br />
                        If unselected, your changes will only apply to the current node, "{{pageName}}".
                    </small>
                </label>
            </div>
            <div class="ugp-dialog-toggle">
                <input id="{{ignoreBasePermissionsId}}" type="checkbox" ng-model="userOptions.ignoreBasePermissions" />
                <label for="{{ignoreBasePermissionsId}}">
                    Ignore setting permissions already set by base role?
                    <small>
                        If selected, permissions will remain unchanged if your current selection matches
                        that of the default permissions for a given user type.<br />
                        If unselected, all permissions you specify here will be used (regardless of whether
                        or not they match the default permissions for a given user type).
                    </small>
                </label>
            </div>
        </div>
        <p class="umb-abstract" ng-if="showFailure">
            {{failureMessage}}
        </p>
        <p class="umb-abstract" ng-if="showSuccess">
            {{successMessage}}
        </p>
        <p class="umb-abstract" ng-if="showProgress">
            {{processingMessage}}
        </p>
        <div ng-if="showConfirmButtons">
            <umb-confirm on-confirm="updatePermissions" on-cancel="cancel">
            </umb-confirm>
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="showDoneButton">
        <button class="btn" ng-click="closeDialog()">
            <localize key="defaultdialogs_closeThisWindow">Close this window</localize>
        </button>
    </div>
</div>